<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <h2>Books</h2>
        <div class="book-list">
        {% for book in books %}
            <div class="book-item card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>{{ book.title }}</h4>    
                    </div>
                    <p><a href="{{url_for('editBook', book_id=book.id)}}" class="btn btn-outline-success" role="button">Edit book</a></p>
                    <p><a href="{{url_for('deleteBook', book_id=book.id)}}" class="btn btn-outline-danger" role="button">Delete book</a></p>
                </div>
            </div>
        {% endfor %}
        </div>
        <hr>
        <div>
            <a href="{{url_for('newBook')}}"  class="btn btn-outline-primary" role="button">New Book</a>
            <a href="{{url_for('bookJSON')}}" class="btn btn-outline-primary" role="button">API Call</a>
        </div>
    </body>
</html>
<style>
    .book-item {
        margin-bottom: 3rem;
    }
</style>